<a href="https://colab.research.google.com/github/kittanaiwisetkhro/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Dict

In [ ]:
dict_a = {'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
#add
dict_b['a'] = 123

In [ ]:
dict_b

{'a': 123}

In [ ]:
dict_b['a'] = 567

In [ ]:
dict_b

{'a': 567}

## การ Add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 567, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

##### function ที่ มี input กับ output 1 ตัว

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Kittanai')

In [ ]:
print_myname()

Kittanai

In [ ]:
b = print_myname()

Kittanai

In [ ]:
b

In [ ]:
def print_name(name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name}'
    return st

In [ ]:
print_name('stat')

'ชื่อ stat'

In [ ]:
a = print_name('stat')

In [ ]:
a

'ชื่อ stat'

##### function ที่ มี input หลายตัว กับ output 1 ตัว

In [ ]:
 # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว

def print_name(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','64xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 64xxxxxx'

In [ ]:
print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('กฤตนัย','วิเศษคร้อ','663020620-0', 'A')

ชื่อ กฤตนัย นามสกุล วิเศษคร้อ รหัส 663020620-0
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz5
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

In [ ]:
# prompt เขียนโค้ดคำนวณเวลา จากโค้ด def cal_dif_secs(timeinput):
#     timelist = timeinput.split('-')
#     time1 = timelist[0].split(':')
#     time2 = timelist[1].split(':')
#     time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
#     time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
#     dif_sec = time2_sec - time1_sec
#     return dif_sec
#     โดย เพิ่มวันในการใช้คำนวณด้วย ตัวอย่างโจทย์
# ข้อ.1 12:30:15, Wednesday - 13:41:07, Thursday
# ข้อ.2 12:53:15, Monday - 00:59:25, Tuesday
# ข้อ.3 16:06:09, Sunday - 11:11:11, Tuesday

def cal_dif_secs_with_day(timeinput):
    # mapping วันเป็นเลข
    day_map = {
        "Sunday": 0,
        "Monday": 1,
        "Tuesday": 2,
        "Wednesday": 3,
        "Thursday": 4,
        "Friday": 5,
        "Saturday": 6
    }

    # แยกช่วงเวลาตาม '-'
    parts = timeinput.split('-')

    # แยกเวลาและวันของช่วงที่ 1
    time1_part = parts[0].strip()       # เช่น "12:30:15, Wednesday"
    time1_str, day1_str = time1_part.split(',')
    time1 = time1_str.strip().split(':')
    day1 = day1_str.strip()

    # แยกเวลาและวันของช่วงที่ 2
    time2_part = parts[1].strip()       # เช่น "13:41:07, Thursday"
    time2_str, day2_str = time2_part.split(',')
    time2 = time2_str.strip().split(':')
    day2 = day2_str.strip()

    # แปลงเวลาเป็นวินาทีในวันนั้น
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])

    # แปลงวันเป็นวินาที (จำนวนวันที่ต่างกัน * 24 * 3600)
    day_diff = day_map[day2] - day_map[day1]
    day_diff_sec = day_diff * 24 * 3600

    # ผลต่างเวลารวมวัน
    dif_sec = (time2_sec + day_diff_sec) - time1_sec

    return dif_sec

In [ ]:
print(cal_dif_secs_with_day("12:30:15, Wednesday - 13:41:07, Thursday"))  # ข้อ 1
print(cal_dif_secs_with_day("12:53:15, Monday - 00:59:25, Tuesday"))     # ข้อ 2
print(cal_dif_secs_with_day("16:06:09, Sunday - 11:11:11, Tuesday"))     # ข้อ 3

90652
43570
155102

Quiz6
เขียนฟังก์ชัน ของ HW2 -> มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องกรอกเลย หรือกรอกแค่ 1 ตัว

In [ ]:
def cal_dif_secs_quiz5(time1, time2=None):
    day_map = {
        "Sunday": 0, "Monday": 1, "Tuesday": 2, "Wednesday": 3,
        "Thursday": 4, "Friday": 5, "Saturday": 6
    }

    # แยกเวลาและวันจาก time1 เช่น "12:30:15, Wednesday"
    time1_str, day1_str = time1.split(',')
    time1_parts = time1_str.strip().split(':')
    day1 = day1_str.strip()

    if time2 is None:
        # ถ้าไม่กรอก time2 ถือเป็นเวลาเดียวกับ time1
        time2_str = time1_str.strip()
        day2 = day1
    else:
        if ',' in time2:
            # ถ้ามีวันใน time2 เช่น "13:41:07, Wednesday"
            time2_str, day2_str = time2.split(',')
            day2 = day2_str.strip()
        else:
            # ถ้าไม่มีวันใน time2 เช่น "13:41:07" ให้ถือวันเดียวกับ time1
            time2_str = time2.strip()
            day2 = day1

    time2_parts = time2_str.split(':')

    # แปลงเวลาทั้งสองเป็นวินาที
    time1_sec = int(time1_parts[0]) * 3600 + int(time1_parts[1]) * 60 + int(time1_parts[2])
    time2_sec = int(time2_parts[0]) * 3600 + int(time2_parts[1]) * 60 + int(time2_parts[2])

    # คำนวณวันต่าง (ถ้าวันเดียวกัน = 0)
    day_diff = day_map[day2] - day_map[day1]
    day_diff_sec = day_diff * 24 * 3600

    # ผลต่างเวลารวมวัน
    dif_sec = (time2_sec + day_diff_sec) - time1_sec

    return dif_sec

In [ ]:
print(cal_dif_secs_quiz5("12:30:15, Wednesday", "13:41:07, Wednesday"))
# ผลลัพธ์ = 4152 วินาที (1 ชม 10 นาที 52 วินาที)

print(cal_dif_secs_quiz5("12:53:15, Monday", "20:59:25, Monday"))
# ผลลัพธ์ = 29310 วินาที (8 ชม 6 นาที 10 วินาที)

# กรณีกรอกเวลา time2 อย่างเดียว
print(cal_dif_secs_quiz5("12:30:15, Wednesday", "13:41:07"))
# ถือเป็นวันเดียวกันกับ time1, ผลลัพธ์เหมือนข้อแรก

4252
29170
4252

In [ ]:
print(cal_dif_secs_quiz5("12:30:15, Wednesday"))

0

In [ ]:
print(cal_dif_secs_quiz5("12:01:00, Wednesday", "12:02:00"))

60

## เฉลย Quiz 6

In [ ]:
# prompt: สร้าง function คำนวณ จำนวน วินาที ที่แตกต่างระหว่าง input hh:mm:ss, day of the week 2 ค่า

from datetime import datetime, timedelta

def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2=None):
  """
  คำนวณความแตกต่างของเวลาในหน่วยวินาทีระหว่างสองเวลาและวันในสัปดาห์

  Args:
    time_str1: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาแรก
    weekday1: วันในสัปดาห์สำหรับเวลาแรก (0=วันจันทร์, 6=วันอาทิตย์)
    time_str2: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาที่สอง
    weekday2: วันในสัปดาห์สำหรับเวลาที่สอง (0=วันจันทร์, 6=วันอาทิตย์)

  Returns:
    จำนวนวินาทีที่แตกต่างกัน
  """
  day = {'Monday':0, 'Tuesday':1, 'Wednesday':2, 'Thursday':3, 'Friday':4, 'Saturday':5, 'Sunday':6}
  # Mapping weekdays to a common reference point (e.g., seconds from the beginning of the week)
  seconds_per_day = 24 * 3600

  def parse_time_and_weekday(time_str, weekday):
    h, m, s = map(int, time_str.split(':'))
    # Calculate total seconds from the beginning of the week
    total_seconds = weekday * seconds_per_day + h * 3600 + m * 60 + s
    return total_seconds
  if weekday2 is None:
    weekday2 = weekday1
  total_seconds1 = parse_time_and_weekday(time_str1, day[weekday1])
  total_seconds2 = parse_time_and_weekday(time_str2, day[weekday2])

  return abs(total_seconds1 - total_seconds2)

# Example usage:
time1 = "10:00:00"
day1 = 'Tuesday'
time2 = "11:30:00"
day2 = 'Thursday'

diff_seconds = time_difference_in_seconds(time1, day1, time2, day2)
print(f"ความแตกต่างของเวลาระหว่าง {time1} วัน {day1} และ {time2} วัน {day2} คือ {diff_seconds} วินาที")

time3 = "18:00:00"
day3 = 'Sunday'
time4 = "23:45:00"

diff_seconds2 = time_difference_in_seconds(time3, day3, time4)
print(f"ความแตกต่างของเวลาระหว่าง {time3} วัน {day3} และ {time4} คือ {diff_seconds2} วินาที")

ความแตกต่างของเวลาระหว่าง 10:00:00 วัน Tuesday และ 11:30:00 วัน Thursday คือ 178200 วินาที
ความแตกต่างของเวลาระหว่าง 18:00:00 วัน Sunday และ 23:45:00 คือ 20700 วินาที

In [ ]:
print

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' )

T -> /
h -> /
a -> /
n -> /
a -> /
p -> /
o -> /
n -> /
g -> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '' ) #สั่งให้ print แบบ ไม่เว้นบรรทัด

SyntaxError: unexpected character after line continuation character (ipython-input-12-2183523476.py, line 2)

In [ ]:
for i in 'Thanapong':
    print(i,end = '-> /') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T-> /h-> /a-> /n-> /a-> /p-> /o-> /n-> /g-> /

In [ ]:
for i in 'Thanapong':
    print(i,end = '-> / \n') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T-> /
h-> /
a-> /
n-> /
a-> /
p-> /
o-> /
n-> /
g-> /

In [ ]:
for i in 'Kittanai':
    print(f'{i} -> / ' )

K -> /
i -> /
t -> /
t -> /
a -> /
n -> /
a -> /
i -> /

In [ ]:
for i in 'Kittanai':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

In [ ]:
list(range(-3,20,4))

## วนลูปโดยสนใจทั้งสมาชิกและลำดับ

In [ ]:
index = 0
for i in 'Thanapong':
    print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')
    index += 1

สมาชิกคือ T เป็นลำดับที่ 0
สมาชิกคือ h เป็นลำดับที่ 1
สมาชิกคือ a เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ a เป็นลำดับที่ 4
สมาชิกคือ p เป็นลำดับที่ 5
สมาชิกคือ o เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

In [ ]:
for i in enumerate('Thanapong'):
    print(f'สมาชิกคือ {i[1]} เป็นลำดับที่ {i[0]}')

สมาชิกคือ T เป็นลำดับที่ 0
สมาชิกคือ h เป็นลำดับที่ 1
สมาชิกคือ a เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ a เป็นลำดับที่ 4
สมาชิกคือ p เป็นลำดับที่ 5
สมาชิกคือ o เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

In [ ]:
for i,index in enumerate('Thanapong'):
    print(f'สมาชิกคือ {index} เป็นลำดับที่ {i}')

สมาชิกคือ T เป็นลำดับที่ 0
สมาชิกคือ h เป็นลำดับที่ 1
สมาชิกคือ a เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ a เป็นลำดับที่ 4
สมาชิกคือ p เป็นลำดับที่ 5
สมาชิกคือ o เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

#Quiz 7 วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยมตามตัวอย่าง

ex:

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [ ]:
# prompt: วนลูป แสดงค่า ตัวเลขออกมาเป็นสามเหลี่ยมตามตัวอย่าง
# ex:
# 1
# 2 4
# 3 6 9
# 4 8 12 16
# 5 10 15 20 25

for i in range(1, 6):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

In [ ]:
for i in range(1, 6):          # แถวที่ 1 ถึง 5
    for j in range(1, i + 1):  # วน j ตั้งแต่ 1 ถึง i
        print(i * j, end=' ')
    print()  # ขึ้นบรรทัดใหม่หลังจบแต่ละแถว

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['พี่บูม','ดายน์','แตงโม','ฝน','พี่เจ็ท','น้องแคมป์']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง พี่บูม
เจมส์ คิดถึง ดายน์
เจมส์ คิดถึง แตงโม
เจมส์ คิดถึง ฝน
เจมส์ คิดถึง พี่เจ็ท
เจมส์ คิดถึง น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

In [ ]:
print_feelings('เจมส์','กรกฎาคม')

เจมส์ คิดถึง ก
เจมส์ คิดถึง ร
เจมส์ คิดถึง ก
เจมส์ คิดถึง ฎ
เจมส์ คิดถึง า
เจมส์ คิดถึง ค
เจมส์ คิดถึง ม

In [ ]:
print_feelings('เจมส์',list_friends,feeling='ซัง')

เจมส์ ซัง พี่บูม
เจมส์ ซัง ดายน์
เจมส์ ซัง แตงโม
เจมส์ ซัง ฝน
เจมส์ ซัง พี่เจ็ท
เจมส์ ซัง น้องแคมป์

จบ 24 มิย 67

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [1]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [6]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],
    ["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [7]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW3 เพิ่ม loop เข้าไปใน Quiz 6 โดยวนลูป คำนวน วินาที ในโจทย์ ต่อไปนี้



```
[
    ("10:00:00", "Monday", "11:30:00", 5400),  # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
    ("00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
]

```

In [ ]:
from datetime import datetime, timedelta

def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2=None):
    day = {
        'Monday': 0, 'Tuesday': 1, 'Wednesday': 2,
        'Thursday': 3, 'Friday': 4, 'Saturday': 5, 'Sunday': 6
    }
    seconds_per_day = 24 * 3600

    def parse_time_and_weekday(time_str, weekday):
        h, m, s = map(int, time_str.split(':'))
        total_seconds = weekday * seconds_per_day + h * 3600 + m * 60 + s
        return total_seconds

    if weekday2 is None:
        weekday2 = weekday1

    total_seconds1 = parse_time_and_weekday(time_str1, day[weekday1])
    total_seconds2 = parse_time_and_weekday(time_str2, day[weekday2])

    return abs(total_seconds1 - total_seconds2)

# โจทย์แบบ list of tuples
problems = [
    ("10:00:00", "Monday", "11:30:00", None, 5400),               # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),           # Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00", "Monday", 7200),           # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),           # Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200),      # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200),      # Reverse of above
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),              # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 86400),         # Same time, next day
    ("00:00:00", "Monday", "23:59:59", None, 86399),              # Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),              # One second across midnight
]

# วนลูปคำนวณและแสดงผล
for i, (t1, d1, t2, d2, expected) in enumerate(problems, 1):
    result = time_difference_in_seconds(t1, d1, t2, d2)
    print(f"ข้อ {i}: ต่างกัน {result} วินาที (จากโจทย์คาดว่า {expected} วินาที) {'✅ ถูกต้อง' if result == expected else '❌ ไม่ตรง'}")

ข้อ 1: ต่างกัน 5400 วินาที (จากโจทย์คาดว่า 5400 วินาที) ✅ ถูกต้อง
ข้อ 2: ต่างกัน 5400 วินาที (จากโจทย์คาดว่า 5400 วินาที) ✅ ถูกต้อง
ข้อ 3: ต่างกัน 597600 วินาที (จากโจทย์คาดว่า 7200 วินาที) ❌ ไม่ตรง
ข้อ 4: ต่างกัน 597600 วินาที (จากโจทย์คาดว่า 7200 วินาที) ❌ ไม่ตรง
ข้อ 5: ต่างกัน 178200 วินาที (จากโจทย์คาดว่า 178200 วินาที) ✅ ถูกต้อง
ข้อ 6: ต่างกัน 178200 วินาที (จากโจทย์คาดว่า 178200 วินาที) ✅ ถูกต้อง
ข้อ 7: ต่างกัน 0 วินาที (จากโจทย์คาดว่า 0 วินาที) ✅ ถูกต้อง
ข้อ 8: ต่างกัน 86400 วินาที (จากโจทย์คาดว่า 86400 วินาที) ✅ ถูกต้อง
ข้อ 9: ต่างกัน 86399 วินาที (จากโจทย์คาดว่า 86399 วินาที) ✅ ถูกต้อง
ข้อ 10: ต่างกัน 604799 วินาที (จากโจทย์คาดว่า 1 วินาที) ❌ ไม่ตรง

In [ ]:
from datetime import datetime, timedelta

def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2=None):
    day = {
        'Monday': 0, 'Tuesday': 1, 'Wednesday': 2,
        'Thursday': 3, 'Friday': 4, 'Saturday': 5, 'Sunday': 6
    }
    seconds_per_day = 24 * 3600

    def parse_time_and_weekday(time_str, weekday):
        h, m, s = map(int, time_str.split(':'))
        total_seconds = weekday * seconds_per_day + h * 3600 + m * 60 + s
        return total_seconds

    if weekday2 is None:
        weekday2 = weekday1

    total_seconds1 = parse_time_and_weekday(time_str1, day[weekday1])
    total_seconds2 = parse_time_and_weekday(time_str2, day[weekday2])

    return abs(total_seconds1 - total_seconds2)

# โจทย์แบบ list of tuples
problems = [
    ("10:00:00", "Monday", "11:30:00", None, 5400),               # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),           # Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00", "Monday", 7200),           # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),           # Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200),      # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200),      # Reverse of above
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),              # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 86400),         # Same time, next day
    ("00:00:00", "Monday", "23:59:59", None, 86399),              # Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),              # One second across midnight
]

# วนลูปคำนวณและแสดงผล
for i, (t1, d1, t2, d2, expected) in enumerate(problems, 1):
    result = time_difference_in_seconds(t1, d1, t2, d2)
    print(f"ข้อ {i}: ต่างกัน {result} วินาที (คาดว่า {expected}) {'✅ ถูกต้อง' if result == expected else '❌ ไม่ตรง'}")

ข้อ 1: ต่างกัน 5400 วินาที (คาดว่า 5400) ✅ ถูกต้อง
ข้อ 2: ต่างกัน 5400 วินาที (คาดว่า 5400) ✅ ถูกต้อง
ข้อ 3: ต่างกัน 597600 วินาที (คาดว่า 7200) ❌ ไม่ตรง
ข้อ 4: ต่างกัน 597600 วินาที (คาดว่า 7200) ❌ ไม่ตรง
ข้อ 5: ต่างกัน 178200 วินาที (คาดว่า 178200) ✅ ถูกต้อง
ข้อ 6: ต่างกัน 178200 วินาที (คาดว่า 178200) ✅ ถูกต้อง
ข้อ 7: ต่างกัน 0 วินาที (คาดว่า 0) ✅ ถูกต้อง
ข้อ 8: ต่างกัน 86400 วินาที (คาดว่า 86400) ✅ ถูกต้อง
ข้อ 9: ต่างกัน 86399 วินาที (คาดว่า 86399) ✅ ถูกต้อง
ข้อ 10: ต่างกัน 604799 วินาที (คาดว่า 1) ❌ ไม่ตรง

In [ ]:
from datetime import datetime, timedelta

def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2=None):
    day = {'Monday':0, 'Tuesday':1, 'Wednesday':2, 'Thursday':3, 'Friday':4, 'Saturday':5, 'Sunday':6}
    seconds_per_day = 24 * 3600

    def parse_time_and_weekday(time_str, weekday):
        h, m, s = map(int, time_str.split(':'))
        total_seconds = weekday * seconds_per_day + h * 3600 + m * 60 + s
        return total_seconds

    if weekday2 is None:
        weekday2 = weekday1

    total_seconds1 = parse_time_and_weekday(time_str1, day[weekday1])
    total_seconds2 = parse_time_and_weekday(time_str2, day[weekday2])

    return abs(total_seconds1 - total_seconds2)

# ✅ กำหนดชุดข้อมูลสำหรับการทดสอบ
test_cases = [
    ("10:00:00", "Monday", "11:30:00", "Monday", 5400),
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),
    ("23:00:00", "Sunday", "01:00:00", "Monday", 7200),
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200),
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200),
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 86400),
    ("00:00:00", "Monday", "23:59:59", "Monday", 86399),
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1)
]

# ✅ วนลูปประมวลผล
for i, case in enumerate(test_cases, 1):
    time1, day1, time2, day2, expected = case
    result = time_difference_in_seconds(time1, day1, time2, day2)
    status = "✅ ถูกต้อง" if result == expected else f"❌ ผิด (ได้ {result})"
    print(f"กรณีที่ {i}: {time1} ({day1}) → {time2} ({day2}) | ต่างกัน {expected} วินาที → {status}")

กรณีที่ 1: 10:00:00 (Monday) → 11:30:00 (Monday) | ต่างกัน 5400 วินาที → ✅ ถูกต้อง
กรณีที่ 2: 11:30:00 (Monday) → 10:00:00 (Monday) | ต่างกัน 5400 วินาที → ✅ ถูกต้อง
กรณีที่ 3: 23:00:00 (Sunday) → 01:00:00 (Monday) | ต่างกัน 7200 วินาที → ❌ ผิด (ได้ 597600)
กรณีที่ 4: 01:00:00 (Monday) → 23:00:00 (Sunday) | ต่างกัน 7200 วินาที → ❌ ผิด (ได้ 597600)
กรณีที่ 5: 10:00:00 (Tuesday) → 11:30:00 (Thursday) | ต่างกัน 178200 วินาที → ✅ ถูกต้อง
กรณีที่ 6: 11:30:00 (Thursday) → 10:00:00 (Tuesday) | ต่างกัน 178200 วินาที → ✅ ถูกต้อง
กรณีที่ 7: 12:00:00 (Monday) → 12:00:00 (Monday) | ต่างกัน 0 วินาที → ✅ ถูกต้อง
กรณีที่ 8: 12:00:00 (Monday) → 12:00:00 (Tuesday) | ต่างกัน 86400 วินาที → ✅ ถูกต้อง
กรณีที่ 9: 00:00:00 (Monday) → 23:59:59 (Monday) | ต่างกัน 86399 วินาที → ✅ ถูกต้อง
กรณีที่ 10: 23:59:59 (Sunday) → 00:00:00 (Monday) | ต่างกัน 1 วินาที → ❌ ผิด (ได้ 604799)

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [10]:
a = 2<3
print (a)

True

In [11]:
b = 7 in range(7)
print (b)

False

In [16]:
 a & b

False

In [22]:
if 2 < 3 & 7 in range(10):
    print('yes')

yes

In [23]:
if (2 < 3) & (7 in range(10)):
    print('yes')

yes

In [24]:
if (2 < 3) & 7 in range(10):
    print('yes')

yes

In [25]:
if 2 < 3 & (7 in range(10)):
    print('yes')

In [15]:
a | b

True

In [12]:
if (1>0) & (0>-1):
    print(True & True)

True

In [13]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

## break คือ ออกจาก Loop

In [46]:
numbers = [0, 2 ,8, 24, 5, 60, 70, 81, 9, 10]

def check_old_in_list(input_list):
    for i in input_list:
      if i % 2 != 0:
        print(f'มีเลขคี่ คือ {i}')
        break
    print('ไม่เลขคู๋')

check_odd_in_list(numbers)

มีเลขคี่ คือ 5
มีเลขคี่ คือ 81
มีเลขคี่ คือ 9

In [59]:
numbers = [0, 2 ,8, 24, 5, 60, 70, 81, 9, 10]

def check_odd_in_list(input_list):
    for i in input_list:
      if i % 2 != 0:
        print(f'มีเลขคี่ คือ {i}')
        return
    print('ไม่เลขคู๋')
    return input_list

check_odd_in_list(numbers)
check_odd_in_list([0], 2, 8, 24)

มีเลขคี่ คือ 5

TypeError: check_odd_in_list() takes 1 positional argument but 4 were given

In [50]:
numbers = [0, 2, 8, 24, 5, 60, 70, 81, 9, 10]

def check_odd_in_list(input_list):
    found_odd = False
    for i in input_list:
        if i % 2 != 0:
            print(f'มีเลขคี่ คือ {i}')
            found_odd = True
    if not found_odd:
        print('ไม่มีเลขคี่')

check_odd_in_list(numbers)

มีเลขคี่ คือ 5
มีเลขคี่ คือ 81
มีเลขคี่ คือ 9

# Finish